## Goal: To forecast the total amount of products sold in every shop for the test set.

In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
# Loading all the data into pandas dataframe
BASE_PATH = 'C:/Users/Prashant/Documents/Machine Learing Workspace/Predict-future-sales/input/'
sales_train = pd.read_csv(os.path.join(BASE_PATH,'sales_train.csv'))
item_categ = pd.read_csv(os.path.join(BASE_PATH,'item_categories.csv'))
items = pd.read_csv(os.path.join(BASE_PATH,'items.csv'))
sample_submission = pd.read_csv(os.path.join(BASE_PATH,'sample_submission.csv'))
shops = pd.read_csv(os.path.join(BASE_PATH,'shops.csv'))
test = pd.read_csv(os.path.join(BASE_PATH,'test.csv'))

In [3]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [4]:
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
sample_submission.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

In [12]:
## Generating of all possible combination of shop and items so that we wont miss out even if the test data does have a new item which is not in train data
print(shops.columns, shops.shape)
print(items.columns, items.shape)

Index(['shop_name', 'shop_id'], dtype='object') (60, 2)
Index(['item_name', 'item_id', 'item_category_id'], dtype='object') (22170, 3)

In [16]:
# Creating template dataframe with all the shop and item combinations
train_temp1 = shops[['shop_id']].merge(items[['item_id']], how='cross')

In [ ]:
sales_train.dtypes

In [ ]:
import datetime as dt
sales_train['date'] = pd.to_datetime(sales_train['date'])
sales_train['year'], sales_train['month'] = sales_train['date'].dt.year, sales_train['date'].dt.month